<div>
<%= current_user.identification %>
</div>
<div>
<%= link_to 'ログアウト', logout_path %>
</div>

<h1>写真一覧</h1>


<div>
<%= link_to 'MyTweetAppと連携', pictures_authorization_path %>
</div>
<div>
<%= link_to '写真を新規にアップロード', pictures_new_path %>
</div>
<div>
<% @pictures.each do |picture| %>
  <div>
  <%= picture.title %>
  </div>
  <div>
  <%= image_tag "/uploads/#{picture.file_name}" %>
  </div>
<% end %>
</div>
